/*
Theme Name: Perfect
Theme URI: https://wpcount.com/themes/perfect-wordpress-theme/
Author: Jazib Zaman
Author URI: https://wpcount.com/
Description: Perfect is a Modern and UpToDate WordPress theme. Perfect theme is designed to make your website standout and distinguishable from other websites. Perfect theme is a lightweight HTML5 theme with responsive design for mobile to large displays. A responsive slider is also included on homepage to make posts prominent. Theme's features include a homepage template with blog posts, two widget areas, one menu location and social-nav.
Version: 2.0.3
Tags: one-column, two-columns, right-sidebar, custom-logo, sticky-post, flexible-header, custom-menu, custom-background,  featured-images, footer-widgets, blog, threaded-comments, translation-ready
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: perfect
*/

body{
	font-family: Arial, Helvetica, sans-serif !important;
}

header{
	padding: 20px 0px;
}

 img {
	max-width: 100%;
}
/*-----------------------------   Theme Menu  ------------------*/
.navbar-wp {
	margin: 0;
	padding: 0;
	z-index: 1000;
}
.navbar-brand {
	font-size: 26px;
	height: auto;
	line-height: 20px;
	margin-right: 50px;
	padding: 15px 0;
	font-weight: 600;
	transition: 0.3s;
}
.navbar-brand .site-title{
	transition: 0.3s;
	font-size: 40px;
	line-height: 35px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	color: white;
	background-color: #aaa;
}
.navbar-brand:hover .site-title{
	text-shadow: 1px 1px black;
	transition: 0.3s;
}
.navbar-brand span.site-description {
	font-size: 13px;
	line-height: 0;
}
.updates{
	font-weight: 900;
	font-size: 25px;
	letter-spacing: -1.3px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: bottom;
	color: white;
}
.navbar-wp{
	padding-left: 0px;
}
.navbar-wp .navbar-nav > li> a {
	padding: 16px 16px;
	margin-right: 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.05em;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	transition: all .25s ease-out;
	margin-bottom: 0px;/*
	font-family: 'Montserrat', sans-serif;*/
}
.navbar-wp .navbar-nav > li > ul::before {
	content: "";
	left: 15%;
	position: absolute;
	top: -22px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-style: solid;
	border-width: 11px;
	width: 0;
	z-index: 1100;
	display: none;
}
.navbar-wp .navbar-nav > li > ul > li > a i {
	padding-right: 10px;
}
.navbar-wp .navbar-nav > .disabled > a, .navbar-wp .navbar-nav > .disabled > a:hover, .navbar-wp .navbar-nav > .disabled > a:focus {
	background-color: transparent;
}
.navbar-base .navbar-nav > .open > a, .navbar-base .navbar-nav > .open > a:hover, .navbar-base .navbar-nav > .open > a:focus {
	background: transparent;
}
.navbar-toggle {
	border-radius: 2px;
	margin-top: 20px;
	padding: 12px 16px 7px 16px
}
.navbar-wp .dropdown-menu {
	min-width: 200px;
	padding: 0;
	border: none;
	border-radius: 0;
	z-index: 10;
	right: auto;
	left: 0;
}
.menu-item-has-children .dropdown-menu.sm-nowrap li a{
	white-space: normal;
}

.navbar-wp .dropdown-menu > li:last-child {
	border: 0
}
.navbar-wp .dropdown-menu > li > a {
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
}
.navbar-nav > li:last-child > .dropdown-menu {
	right: 0;
	left: auto;
}
.navbar-wp.affix .navbar-inner {
	border-bottom: 0
}
.navbar-wp.affix .navbar-nav > li > a {
	padding: 18px 16px;
	margin-right: 0;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase
}
.dropdown-submenu {
	position: relative
}
.dropdown-submenu > .dropdown-menu {
	top: -1px;
	left: 100%;
	margin-top: 0;
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
	padding: 0
}
.dropdown-submenu.pull-left {
	float: none
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px
}
.pft-search-box > .dropdown-menu {
	right: 0;
	left: auto;
}
.pft-search-box .pft-search .btn {
	padding: 2px 12px;
	border-radius: 0 3px 3px 0;
	height: 40px;
	border-width: 1px;
	border-style: solid;
}

.page .page-content .comment-form p{
	padding-left: 0px;
}

.comment-list footer{
	padding-left: 0px;
}
/*-----------------------     Body & Global     --------------*/
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
a {
	text-decoration: none;
}
body a:focus, body a:hover {
	outline: none;
	text-decoration: none;
}
select {
	background-clip: padding-box;
	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 3px;
	color: #444;
	display: block;
	font-weight: 400;
	overflow: hidden;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
}
textarea {
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
}
 .no-gutter > [class*=col-] {
 padding-right: 0;
 padding-left: 0;
}
input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
	border-radius: 3px;
	margin-bottom: 20px;
	box-shadow: inherit;
	padding: 6px 12px;
	line-height: 25px;
	border-width: 2px;
	border-style: solid;
}
input[type="reset"], input[type="submit"], button {
	padding: 5px 35px;
	line-height: 30px;
	border-radius: 2px;
	font-weight: bold;
	font-size: 14px;
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
input:not([type]):hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="url"]:hover, input[type="text"]:hover, input:not([type]):focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="text"]:focus {
	border-width: 2px;
	border-style: solid;
}
input[type="submit"]:hover, button:hover, input[type="submit"]:focus, button:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
mark, .mark {
	padding: 2px 5px;
	border-radius: 3px;
}

/*---------------------------------------
	Typography        
-----------------------------------------*/
h1, .h1 {
	font-size: 34px;
	line-height: 40px;
}
h2, .h2 {
	font-size: 32px;
	line-height: 35px;
}
h3, .h3 {
	font-size: 26px;
	line-height: 30px;
}
h4, .h4 {
	font-size: 24px;
	line-height: 25px;
}
h5, .h5 {
	font-size: 20px;
	line-height: 20px;
}
h6, .h6 {
	font-size: 16px;
	line-height: 20px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: normal;
	letter-spacing: -0.05em;
}
.alignright {
	text-align: right;
}
.alignleft {
	text-align: left;
}
.aligncenter {
	text-align: center;
}
blockquote {
	position: relative;
	width: 100%;
	border-width: 0 0 0 5px;
	border-style: solid;
}
blockquote::before {
	color: #d0d0d0;
	content: "\f10d";
	display: table;
	float: left;
	font-family: "FontAwesome";
	font-size: 28px;
	margin-top: 6px;
	font-weight: normal;
	width: 6%;
}
blockquote p {
	font-style: italic;
	width: 94%;
	display: table;
}
/*-------------------------   Button Styles    ------------------*/
.btn {
	padding: 5px 35px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	font-weight: bold;
	display: inline-block;
	transition: all 0.4s ease-in-out 0s;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.btn-theme {
	border: none;
}
.btn-theme:hover, .btn-theme:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.btn-theme-two {
	margin-left: 15px;
}
.btn-theme-two:hover, .btn-theme-two:focus {
	transition: all 0.3s ease 0s;
	outline: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-radius: 50%;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-radius: 50%;
}
.pagination > li > a, .pagination > li > span {
	margin: 0 3px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #ddd;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover, .pagination > li > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	transition: all 0.3s ease 0s;
}
button.mfp-close:hover, button.mfp-close:focus {
	background: inherit;
}
/*-------------------------   WP Styles  ---------------------*/
/*--WP--*/
.bypostauthor > article .fn:after {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}
.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}
.wp-caption .wp-caption-text {
	color: #686868;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.content-area img.alignnone, .content-area figure.alignnone img {
	width: 100%;
	height: auto;
}
.content-area figure {
	width: 100%;
}
.entry-footer {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.entry-footer .screen-reader-text {
	display: none;
}
img.alignnone {
	width: 100%;
	height: auto;
}
img.size-large {
	width: 100%;
	height: auto;
}
*:focus {
	outline: 0;
}

/*----contactform----*/
.wpcf7-form .wpcf7-form-control {
	margin-top: 6px;
	margin-bottom: 15px;
	font-size: 12px;
	height: 40px;
	padding: 6px 12px;
	display: block;
	line-height: 1.42857143;
	width: 100%;
	border-width: 1px;
	border-style: solid;
}
.wpcf7-form .wpcf7-textarea {
	height: 150px;
	border-radius: 3px;
}
.wpcf7-form .wpcf7-form-control:hover, .wpcf7-form .wpcf7-form-control:focus {
	box-shadow: none;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit {
	padding: 5px 35px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	transition: all 0.4s ease-in-out 0s;
	width: auto;
}
/*----contactform footer-widget----*/
footer .pft-widget .wpcf7-form .wpcf7-form-control.wpcf7-submit {
	margin-bottom: 0;
}
/*---------------------------------------
=========================================
	content-Home-Sections
=========================================
-----------------------------------------

/*--------------- ti slider Custom Buttons---------------*/
.btn.btn-tislider, .btn.btn-tislider:hover, .btn.btn-tislider:focus {
	outline: none;
	margin: 20px auto;
	letter-spacing: 1px;
}
.btn.btn-tislider-two { 
	outline: none;
	letter-spacing: 1px;
	float: right;
	margin-top: 10px;
}
/*---------------------------------------
	themesection         
-----------------------------------------*/
.pft-section {
	padding: 40px 0;
	margin: 0;
	border-bottom: 1px solid #e8e8e9;
}

/*---------------------------------------
	themeheading           
-----------------------------------------*/
.pft-heading {
	margin-bottom: 35px;
	text-align: center;
}
.pft-heading h1 {
	font-size: 26px;
	font-weight: normal;
}
.pft-heading h3 {
	font-size: 22px;
	font-weight: normal;
}
.pft-heading .pft-heading-inner {
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	padding: 0 0 18px;
	line-height: 40px;
	text-transform: capitalize;
	width: auto;
	letter-spacing: 1px;
}
.pft-heading .pft-heading-inner::before {
	width: 100px;
	border: 1px solid;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	content: "";
	bottom: -1px;
	display: block;
	z-index: 444;
}
.pft-heading .pft-heading-inner i {
	display: block;
	font-size: 20px;
	height: 35px;
	line-height: 35px;
	position: absolute;
	text-align: center;
	bottom: -20px;
	width: 30px;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.pft-heading-bor-bt h5 {
	position: relative;
	font-size: 20px;
	margin-bottom: 40px;
	padding-bottom: 15px;
}
.pft-heading-bor-bt h5::before {
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	width: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/*---------------------------------------
	themeblog          
-----------------------------------------*/
.pft-blog-section {
}
.pft-blog-section .overlay {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 40px 0;
}
.hentry .pft-blog-post-box {
	margin-bottom: 0px;
}

.single .pft-blog-post-box {
	margin-bottom: 40px;
}

.single article{
	border-bottom: 1px solid #D5D5D5;
}

.sticky{

}

.page-content{
	background-color: #eeeeee;
	padding-top:20px;
}

.pft-blog-post-box .small {
	font-size: 13px;
	padding: 0;
}

.pft-blog-post-box .small h1{
	font-weight: 700;
}

.single .pft-blog-post-box .small {
	font-size: 13px;
	padding: 0px;
}
.pft-blog-post-box .small > p {
	margin-bottom: 8px;
	margin-top: 0px;
}
.pft-blog-thumb {
	position: relative;
	/*width: 100%;*/
	margin-bottom: 10px;
	float: left;
}
.post .pft-blog-thumb img {
	position: relative;
	max-width: 100%;
	float: left;
	height: 150px;
	margin-top: 20px;
}
.pft-blog-thumb .responsive-video iframe {
	border-radius: 8px 8px 0 0;
}
.pft-blog-date {
	height: 32px;
	left: 0px;
	position: absolute;
	text-align: center;
	bottom: 0px;
	width: auto;
	padding: 0 10px;
	margin: 10px 10px -14px;
	z-index: 10;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
.pft-blog-date .h3 {
	font-size: 14px;
}
.pft-blog-date span {
	font-size: 14px;
}
.pft-blog-author {
	background: #e8e8e8 none repeat scroll 0 0;
	font-size: 16px;
	font-weight: 800;
	width: 65px;
	height: 65px;
	left: 0;
	right: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	bottom: 0;
	margin: 0 auto -30px auto;
	z-index: 999;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.pft-blog-author img {
	max-width: 100%;
	border-radius: 100%;
}
.pft-blog-post-box h2:first-child {
	font-size: 18px;
	line-height: 20px;
	position: relative;
	margin-bottom: -8px;
}

.single .pft-blog-post-box h2:first-child {
	font-size: 18px;
	line-height: 20px;
	position: relative;
	margin-bottom: 0px;
}

.paginationcontent{
	margin-top: 20px;
}

.single .pft-blog-post-box .social-content p{
	font-size: 13px;
	margin-top: 10px;
}

.pft-blog-category a {
	color: #b6b6b6;
	display: inline;
	font-weight: normal;
	padding: 0 8px 0 0;
	margin-right: -6px;
}
.pft-blog-category i {
	color: #888;
}

.btn-blog {
	padding: 10px 20px;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	background: transparent;
}
.btn-blog:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.3s ease 0s;
}
.pft-info-author-block {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
	margin-top: 10px;
	padding: 20px 20px 0px 20px;
	color: #999;
	background-color: #EEEEEE;
}
.pft-info-author-block a {
	color: #777;
	font-size: 13px;
}
.pft-info-author-block .row {
	margin: 0;
}
.pft-info-author-block h4 {
	color: #333;
	font-size: 18px;
	font-weight: normal;
}
.pft-info-author-block h4 span {
	color: #999999;
	font-size: 13px;
	padding-right: 5px;
}
.pft-info-author-block h4 span i {
	padding-right: 5px;
}
.pft-info-author-block .pft-author-pic img {
	margin: 0 25px 15px 0;
	float: left;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
.pft-info-author-block .pft-info-author-social {
	font-size: 24px;
	padding: 0;
}
.pft-info-author-block .pft-info-author-social li a {
	color: #dbdbdb;
	font-size: 24px;
}
.pft-info-author-block .pft-info-author-social li a:hover {
	color: #777;
}

.Pagetitle{
	padding-left: 13px;
}
.page-content .comments-content{
	margin-top: -12px;
}

#reply-title.comment-reply-title{
	font-size: 20px;
}

.comments-area h2.comments-title {
	font-size: 20px;
	margin-bottom: 0px;
}
.comments-area .comment-reply-link:before {
	content: "\f112";
	font-family: FontAwesome;
	padding-right: 8px;
}
.comments-area label {
    clear: both;
    width: 100%;
}
.comments-area .comment-reply-link {
	border-radius: 5px;
	margin-left: 10px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
	border-width: 1px;
	border-style: solid;
	background: #349BD6;
	color: white;
	border-color: #f0f0f0;
}

.comments-area .comment-reply-link:hover {
	background-color: #eee;
	color: black;
}

.comments-area a {
	color: #777;
}
.comments-area .reply a {
	border-radius: 4px;
	margin-left: -2px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
	border-width: 1px;
	border-style: solid;
}
.comments-area .comment-body {
    border-bottom: 1px solid #eee;
    padding: 10px 10px 16px 0px;
}
.pft-comments a i {
	padding-right: 6px;
}
.pft-comments h4 {
	color: #888;
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
}
.pft-comments h4 span {
	color: #999999;
	font-size: 12px;
	padding-left: 7px;
}
.pft-comments .btn {
	margin-left: 5px;
}
.pft-comments .media {
	margin-top: 0;
}
.pft-comments .comment .media-body > p:last-child {
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 30px;
	margin-top: 0;
}
.pft-comments li .media-body > .small {
	border-bottom: none!important;
	padding: 0;
	color: #999;
}
.pft-comments li .media-body > p {
	border-bottom: 1px solid #f0f0f0;
	padding: 5px 0px 20px 5px;
	margin-bottom: 20px;
	color: #999;
}
.pft-comments li .media .media {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.pft-comments li:last-child .media-body > p {
	border-bottom: none;
	padding: 0;
}
.comments-area img {
	height: 64px;
	width: 64px;
	border-radius: 50%;
	border: 2px solid #eee;
}
.comments-area .comment-list li {
	padding: 15px 0px 0px 0px;
	background: #fff;
}
.comments-area .comment-list li .comment-meta {
	background: transparent;
}
.pft-blog-thumb > .responsive-video {
	z-index: 9;
	min-height: 240px;
}
.form-control {
	border-radius: 3px;
	margin-bottom: 20px;
	box-shadow: inherit;
	height: 40px;
}
.pft-req .form-control {
	background: rgba(0,0,0,0);
	color: #fff;
}
.form-control {
	border-width: 1px;
	border-style: solid;
}
.form-control::-moz-placeholder {
opacity: 1;
}
.form-control:focus, .form-control:hover, .form-control:active {
	box-shadow: none;
}

/* --------------------------------------
=========================================
	themesidebar
=========================================
-----------------------------------------*/
.pft-sidebar {
	padding: 0;
}
.pft-sidebar a {
	transition: all 0.3s ease 0s;
}
.pft-sidebar .pft-widget .btn {
	padding: 2px 12px;
	border: none;
	border-radius: 3px;
	height: 40px;
}
.pft-sidebar .pft-widget {
	margin-bottom: 30px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    padding: 10px 20px;
}
.pft-sidebar .pft-widget ul {
	padding: 0;
	list-style: none;
}
.pft-sidebar .pft-widget ul li {
	display: block;
	letter-spacing: 0.2px;
	line-height: 22px;
	margin: 0 0 10px;
	overflow: hidden;
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 10px 0;
	position: relative;
	transition: all 0.4s ease-in-out 0s;
}
.pft-sidebar .pft-widget ul li:last-child { 
	border-width: 0 0 0px 0;
	border-style: solid;
	margin: 0;
}
.pft-sidebar .pft-widget h2 {
	font-size: 16px;
	line-height: 20px;
}
.pft-sidebar .pft-widget h6, .pft-sidebar .pft-widget h2 {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 20px;
	display: inline-block;
}
.pft-sidebar .pft-widget h6::before, .pft-sidebar .pft-widget h2::before {
	border-width: 1px;
	border-style: solid;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	width: 30px;
	transition: all 0.4s ease 0s;
}
.pft-widget h6:hover::before {
	width: 100%;
}
.pft-sidebar .pft-widget ul li a:hover {
	padding-left: 10px;
	transition: all 0.4s ease-in-out 0s;
}
.pft-sidebar .pft-widget ul.menu li .sub-menu {
	margin-left: 15px;
}
.pft-sidebar .pft-widget ul.menu li .sub-menu li {
	border-bottom: none;
	padding: 10px 0 0;
}
.pft-sidebar .pft-widget.widget_search .btn {
	border: medium none;
	border-radius: 0px 0px 0px 0px;
	height: 38px;
	padding: 2px 12px;
	transition: all 0.3s ease 0s;
}
.pft-sidebar .pft-category-widget ul li {
	padding: 10px 0;
	position: relative;
	transition: all 0.4s ease-in-out 0s;
	border-width: 0 0 1px 0;
	border-style: solid;
}
.pft-sidebar .pft-category-widget ul li a:hover {
	padding-left: 10px;
	transition: all 0.4s ease-in-out 0s;
}
.pft-sidebar .pft-widget .pft-widget-tags, .pft-sidebar .pft-widget .tagcloud {
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}
.pft-sidebar .pft-widget .pft-widget-tags a, .pft-sidebar .pft-widget .tagcloud a {
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 5px 9px 0;
	padding: 6px 12px;
	transition: all 0.4s ease-in-out 0s;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}
.pft-sidebar .pft-widget-tags a:hover, .pft-sidebar .pft-widget .tagcloud a:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
.pft-sidebar .pft-widget .pft-widget-quote .form-control {
	border-radius: 0;
	margin-bottom: 20px;
	font-size: 12px;
}
.pft-sidebar .pft-widget .pft-widget-quote .btn {
	border-radius: 2px;
	padding: 5px 35px;
}

/*--theme-blog-post end--*/ 
.pft-sidebar .pft-widget .pft-blog-post {
	margin-bottom: 0;
	margin-top: 0 !important;
	overflow: hidden;
	padding-bottom: 20px;
}
.pft-sidebar .pft-widget .pft-post-area {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 15px;
}
.pft-sidebar .pft-widget .pft-blog-post .pft-post-area img {
	border-radius: 2px;
	display: block;
	height: 70px;
	max-width: 70px;
	transition: all 0.3s ease-in-out 0s;
}
.pft-sidebar .pft-widget .pft-blog-post h3 {
	display: block;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 5px;
	margin-top: -5px;
	word-wrap: break-word;
}
.pft-widget .pft-blog-post span {
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-right: 8px;
	font-style: italic;
}

.btn-default{
	background-color: transparent;
}
/*--theme-blog-post end--*/ 
/*--calendar_wrap--*/ 
.pft-sidebar .pft-widget .calendar_wrap table {
	width: 100%;
	font-size: 11px;
}
.pft-sidebar .pft-widget .calendar_wrap table caption {
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 0;
	padding: 5px 12px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.pft-sidebar .calendar_wrap table thead th {
	border-width: 1px;
	border-style: solid;
}
.pft-sidebar .calendar_wrap table tbody td:hover, .pft-sidebar .calendar_wrap table tbody #today:hover {
	transition: all 0.3s ease 0s;
}
.pft-sidebar .calendar_wrap table tfoot {
	border-width: 1px;
	border-style: solid;
}
.pft-sidebar .pft-widget .calendar_wrap table thead th {
	text-align: center;
	padding: 6px 0;
}
.pft-sidebar .pft-widget .calendar_wrap table tbody td {
	line-height: 2.5em;
	transition: background 0.15s ease 0s;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.pft-sidebar .pft-widget .calendar_wrap table tfoot {
	font-size: 11px;
}
.pft-sidebar .pft-widget .calendar_wrap table tfoot tr td#prev {
	padding: 5px;
	text-transform: uppercase;
}
.pft-sidebar .pft-widget .calendar_wrap table tfoot tr td#next {
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
}
/*--calendar_wrap end--*/ 
.pft-sidebar .pft-widget .textwidget select, .pft-sidebar .pft-widget .textwidget img {
	width: 100%;
}

/* --------------------------------------
=========================================
	theme-error page
=========================================
-----------------------------------------*/
.pft-error-404 h1 {
	font-size: 100px;
	line-height: 80px;
}
.pft-error-404 h1 i {
	padding: 5px;
}
.pft-error-404 h4 {
	line-height: 40px;
}
.pft-error-404 p {
	line-height: 30px;
}
/* --------------------------------------
=========================================
	theme-footer
=========================================
-----------------------------------------*/
footer {
	padding-left: 25px;
}
footer .copyright-section a{
	text-decoration: underline;
}
.pft-footer-top-area {
	padding: 30px 0;
}
.pft-footer-top-area .pft-app-widget .btn {
	padding: 2px 12px;
}
.pft-footer-top-area .pft-app-widget .btn > i {
	padding-right: 10px;
}
.pft-footer-top-area .pft-app-widget h5 a i {
	font-size: 26px;
}
footer .pft-footer-widget-area {
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 50px;
}
footer .pft-widget {
	margin-bottom: 50px;
	background: grey;
	padding: 15px 14px;
	border-radius: 3px;
	margin-right: 8%;
}
footer .pft-widget:nth-child(4n+1) {
	clear: both;
}
footer .pft-widget .pft-subscribe {
	padding: 1px 12px;
	border-radius: 0 3px 3px 0;
	height: 40px;
}
footer .pft-widget .pft-subscribe:hover, footer .pft-widget .pft-subscribe:focus {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .pft-search-widget .btn {
	padding: 1px 12px;
	border-radius: 0;
	height: 40px;
}
footer .pft-widget.widget_search .btn {
	border-width: 1px;
	border-style: solid;
	padding: 2px 12px;
	height: 40px;
	border-top-right-radius: 3px;
}
footer .pft-widget.widget_search .btn-default, footer .pft-widget.widget_search .btn-default:hover {
	background-color: initial;
}
footer .pft-widget.widget_search .btn:hover, footer .pft-widget.widget_search .btn:focus {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .pft-widget h6 {
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 30px 0;
	position: relative;
	padding-bottom: 12px;
}
footer .pft-widget h6::before {
	border: 1px solid;
	bottom: 0px;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	width: 30px
}
footer .pft-widget:hover h6::before {
	width: 50%;
	transition: all 0.3s ease 0s;
}
footer .pft-widget ul {
	padding: 0;
	list-style: none;
}
footer .pft-widget ul li {
	display: block;
	letter-spacing: 0.2px;
	line-height: 22px;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
	border-width: 0 0 1px 0;
	border-style: solid;
}
footer .pft-widget ul li a:hover {
	transition: all 0.4s ease-in-out 0s;
}
footer .pft-widget ul li:first-child {
	padding-top: 0;
}
footer .pft-widget ul li:last-child {
	border-bottom: none;
}
footer .pft-widget ul li {
	margin: 0;
	padding: 10px 0;
	position: relative;
}
footer .pft-widget ul li a {
	transition: all 0.4s ease-in-out 0s;
}
footer .pft-widget ul li a:hover {
	padding-left: 10px;
}
footer .pft-widget .list-unstyled li:first-child {
	padding-top: 0;
}
footer .pft-widget .list-unstyled li {
	margin: 0;
	padding: 10px 0;
	position: relative;
}
footer .pft-widget .list-unstyled li {
	border-width: 1px;
	border-style: solid;
}
footer .pft-widget .list-unstyled li :last-child {
	border-bottom: none;
}
footer .pft-widget .list-unstyled li a:hover {
	transition: all 0.4s ease-in-out 0s;
}
footer .pft-widget .list-unstyled li a {
	line-height: 25px;
	transition: all 0.4s ease-in-out 0s;
}
footer .pft-widget .list-unstyled li a:hover {
	padding-left: 10px;
}
footer .pft-widget .pft-widget-tags, footer .pft-widget .tagcloud {
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}
footer .pft-widget .pft-widget-tags a, footer .pft-widget .tagcloud a {
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 5px 9px 0;
	padding: 6px 12px;
	transition: all 0.4s ease-in-out 0s;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}
footer .pft-widget .pft-widget-tags a:hover, footer .pft-widget .tagcloud a:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
footer .pft-widget .pft-widget-quote .form-control {
	border-radius: 0;
	margin-bottom: 20px;
	border: none;
	font-size: 12px;
}
footer .pft-widget .calendar_wrap table {
	width: 100%;
	font-size: 11px;
}
footer .pft-widget .calendar_wrap table caption {
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 0;
	padding: 5px 12px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
footer .pft-widget .calendar_wrap table thead th {
	text-align: center;
	padding: 6px 0;
	border-width: 1px;
	border-style: solid;
}
footer .pft-widget .calendar_wrap table tbody td {
	line-height: 2.5em;
	transition: background 0.15s ease 0s;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
footer .calendar_wrap table tbody #today:hover {
	transition: all 0.3s ease 0s;
}
footer .calendar_wrap table tbody td:hover {
	transition: all 0.3s ease 0s;
}
footer .pft-widget .calendar_wrap table tfoot {
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
}
footer .pft-widget .calendar_wrap table tfoot tr td#prev {
	padding: 5px;
	text-transform: uppercase;
}
footer .pft-widget .calendar_wrap table tfoot tr td#next {
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
}
footer .pft-widget .textwidget select, footer .pft-widget .textwidget img {
	width: 100%;
}
footer .pft-blog-post {
	margin-bottom: 0;
	margin-top: 0;
	overflow: hidden;
	padding-bottom: 20px;
}
footer .pft-post-area {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 15px;
}
footer .pft-blog-post .pft-post-area img {
	border-radius: 2px;
	display: block;
	height: 70px;
	max-width: 70px;
	transition: all 0.3s ease-in-out 0s;
}
footer .pft-blog-post h3 {
	display: block;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 5px;
	margin-top: -5px;
	word-wrap: break-word;
}
footer .pft-blog-post span {
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin-right: 8px;
	font-style: italic;
}
footer .pft-widget .form-control {
	border-width: 1px;
	border-style: solid;
}
/*----contactform footer-widget----*/
footer .pft-widget .wpcf7-form .wpcf7-form-control {
	border: none;
}
footer .pft-footer-copyright {
	padding: 25px 0 10px;
}
footer .pft-footer-copyright p, footer .pft-footer-copyright a {
	font-size: 13px;
	line-height: 23px;
}
.pft-social {
	padding-top: 20px;
	margin: 0;
}
.pft-social li {
	display: inline-block;
	border-bottom: none;
}
.pft-social li a:hover {
	padding-left: 0;
}
.pft-social li span.icon-soci {
	border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 30px;
    margin: 0 4px;
    text-align: center;
    width: 32px;
    border-color: #D4D4D4;
}
.pft-social li span.icon-soci:hover {
	border-width: 1px;
	border-style: solid;
	transition: all 0.4s ease-in-out 0s;
}
.pft-social li span.icon-soci i {
	font-size: 14px;
}
.share-post{
	padding: 0px;
}
/* ------------------------  theme-scroll-button  --------------------*/
.ti_scroll {
	bottom: 2%;
	display: none;
	height: 40px;
	opacity: 1;
	overflow: hidden;
	position: fixed;
	right: 12px;
	text-align: center;
	width: 40px;
	z-index: 9999;
	border-radius: 3px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.ti_scroll:hover {
	opacity: 1;
}
.ti_scroll i {
	font-size: 26px;
	line-height: 36px;
}
.ti_scroll:hover, .ti_scroll:focus {
	border-width: 2px;
	border-style: solid;
	transition: all 0.3s ease 0s;
}
/* ----------------  theme-Responsive Part  ------------*/
@media (min-width: 768px) and (max-width: 991px) {
.navbar-wp .navbar-collapse.collapse {
	display: none;
}
.navbar-wp .navbar-collapse.collapse.in {
	display: block;
}
.navbar-wp .navbar-header .collapse, .navbar-toggle {
	display: none;
}
.navbar-header {
	float: none;
}
}
 @media only screen and (min-width: 240px) and (max-width: 460px) {
.pft-footer-top-area .pft-app-widget .btn {
	margin-top: 10px;
}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	/* logo*/
	.navbar-default .navbar-brand {
		margin: 0 auto;
		text-align: center;
	}
	.navbar-wp .navbar-nav > li > a {
		padding: 12px;
	}
	.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus {
		border-bottom-width: 3px;
		border-bottom-style: solid;
		z-index: 8;
	}
	.navbar-wp .pft-search-box {
		float: left;
	}
	.pft-search {
		margin: 0 auto;
	}
}
@media screen and (min-width: 240px) and (max-width: 767px) {
.pft-main-nav {
	text-align: center;
}
.navbar-toggle {
	float: none;
}
.navbar-brand{
	float: none;
	display: block;
}
/*--------------- theme-slider ---------------*/
	.navbar-wp .navbar-nav>.active>a, .navbar-wp .navbar-nav>.active>a:hover, .navbar-wp .navbar-nav>.active>a:focus {
		border-bottom: none;
	}
	.navbar-wp .navbar-nav > a, .navbar-wp .navbar-nav> a:hover, .navbar-wp .navbar-nav a:focus {
		border-bottom: none;
	}
}
/*--------------- Gallary ---------------*/
.gallery {
	margin: 0 -1.1666667% 1.75em;
}
.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-1 .gallery-item {
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-icon img {
	margin: 0 auto;
}
.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
.col-md-12{
	margin-bottom: 10px;
}
.hentry{
	height: 100%;
	background-color: white;
}
.nav-links a{
	margin-right: 10px;
	font-size: 20px;
	border-radius: 3px;
	padding: 2px 10px; 
	background-color: #349BD6;
	color: white;
}
.nav-links .page-numbers{
	margin-right: 10px;
	font-size: 20px;
	background-color: #323232;
}
.nav-links .page-numbers.dots{
	background-color: transparent;
}
.nav-links .current{
	border-radius: 3px;
	padding: 2px 10px; 
	background-color: black;
	color: white;
}
.nav-links a:hover, .nav-links .page-numbers:hover, .nav-links .current:hover{
	box-shadow:2px 2px 1px 1px grey; 

}
.nav-links .page-numbers.dots:hover{
	box-shadow:none;
}
.header-widget .pft-header-box-icon i{
	background-color: #6A9FDF;
	color: white;
	transition: 0.5s;
}
.header-widget .pft-header-box-icon i:hover{
	background-color: blue;
	transition: 0.5s;
}
.pft-blog-thumb{
	z-index: 200;
}
.menu-item-has-children .dropdown-menu.sm-nowrap li a{
	white-space: normal;
}
.pft-blog-post-box article p img{
	margin-bottom: 25px;
}
.comments-content ol.comment-list{
	list-style: none;
	padding-left: 0px;
}
.comments-content ol.children{
	list-style: none;
}
.search .grid > h2 {
	padding-left: 30px;
}
.comments-count{
	background-color: #CCCCCC;
	display: inline-block;
	margin-right: 7px;
}
.comments-count a{
	font-size: 12px;
	color: #222;
	transition: 0.4s;
	padding: 3px;
}

.comments-count a:hover{
	color: black;
	transition: 0.4s;
}

.comment-form-comment textarea{
	width: 100%;
}

#secondary div#sidebar-right div{
	background-color: #eee;
}

.page .wrapper #content .container .row div >  p{
	padding-left:35px; 
	padding-right: 10px;
}

footer{
	background-color: transparent;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

.nav-container{
	text-align: center;
	margin-bottom: 20px;
	background-color: #454444;
}

#content {
	background-color: #eee;
	padding-top: 10px;
}

#content .content-continer{
	box-shadow: 6px 0px 20px grey;
}

.main-layout{
	padding: 0px 15px;
}

.social-nav {
	margin-top: 12px
}

/*-----------------------------SmartMenus Bootstrap----------------------------------*/

/* sub menus arrows on desktop */
.navbar-nav:not(.sm-collapsible) ul .caret {
	position: absolute;
	right: 0;
	margin-top: 6px;
	margin-right: 15px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px dashed;
}
.navbar-nav:not(.sm-collapsible) ul a.has-submenu {
	padding-right: 30px;
}
/* make sub menu arrows look like +/- buttons in collapsible mode */
.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
	position: absolute;
	right: 0;
	margin: -3px 15px 0 0;
	padding: 0;
	width: 32px;
	height: 26px;
	line-height: 24px;
	text-align: center;
	border-width: 1px;
 	border-style: solid;
}
.navbar-nav.sm-collapsible .caret:before {
	content: '+';
	font-family: monospace;
	font-weight: bold;
}
.navbar-nav.sm-collapsible .open > a > .caret:before {
	content: '-';
}
.navbar-nav.sm-collapsible a.has-submenu {
	padding-right: 50px;
}
/* revert to Bootstrap's default carets in collapsible mode when the "data-sm-skip-collapsible-behavior" attribute is set to the ul.navbar-nav */
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret, .navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] ul .caret {
	position: static;
	margin: 0 0 0 2px;
	padding: 0;
	width: 0;
	height: 0;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-bottom: 0;
	border-left: 4px solid transparent;
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret:before {
	content: '' !important;
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] a.has-submenu {
	padding-right: 15px;
}
/* scrolling arrows for tall menus */
.navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
	position: absolute;
	display: none;
	visibility: hidden;
	height: 20px;
	overflow: hidden;
	text-align: center;
}
.navbar-nav span.scroll-up-arrow, .navbar-nav span.scroll-down-arrow {
	position: absolute;
	top: -2px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 7px dashed transparent;
	border-right: 7px dashed transparent;
	border-bottom: 7px solid;
	border-left: 7px dashed transparent;
}
.navbar-nav span.scroll-down-arrow {
	top: 6px;
	border-top: 7px solid;
	border-right: 7px dashed transparent;
	border-bottom: 7px dashed transparent;
	border-left: 7px dashed transparent;
}
/* add more indentation for 2+ level sub in collapsible mode - Bootstrap normally supports just 1 level sub menus */
.navbar-nav.sm-collapsible ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul .dropdown-menu .dropdown-header {
	padding-left: 35px;
}
.navbar-nav.sm-collapsible ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul .dropdown-menu .dropdown-header {
	padding-left: 45px;
}
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu .dropdown-header {
	padding-left: 55px;
}
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu .dropdown-header {
	padding-left: 65px;
}
/* fix SmartMenus sub menus auto width (subMenusMinWidth and subMenusMaxWidth options) */
.navbar-nav .dropdown-menu > li > a {
	white-space: normal;
}
.navbar-nav ul.sm-nowrap > li > a {
	white-space: nowrap;
}
.navbar-nav.sm-collapsible ul.sm-nowrap > li > a {
	white-space: normal;
}
/* fix .navbar-right subs alignment */
.navbar-right ul.dropdown-menu {
	left: 0;
	right: auto;
}
.post .pft-blog-post-box .small h1{
	margin-top: 10px;
	margin-bottom: 7px;
	line-height: 30px;
}
.pft-blog-category.post-meta-data{
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: #EEEEEE;
}
.single .pft-blog-category.post-meta-data{
	margin-bottom: 0px;
	margin-top: 0px;
}
.copyright{
	margin-top: 20px;
	color: white;
}
.copyright a{
	transition: 0.3s;
	color: grey;
}
.copyright a:hover{
	color: white;
	transition: 0.3s;
}

.single-content{
	padding-left: 15px;
}
a.readmore{
	color: #333;
	padding: 5px;
	background-color: #CCCCCC;
	transition: 0.3s;
}
a.readmore:hover{
	color: black;
	transition: 0.3s;
}
.social-content {
	border-bottom: 1px solid #D5D5D5;
	padding-bottom: 20px;
}
i.fa-facebook{
	color: royalblue !important;
}
i.fa-twitter{
	color: royalblue !important;
}
i.fa-linkedin{
	color: black !important;
}
i.fa-google-plus{
	color: red !important;
}
.carousel-inner > .item > a > img{
	margin: 0 auto;
	width: 100%;
	height: 400px;
}
.carousel-caption h3{
	color: white;
	background-color: rgba(0,0,0,0.7);
	display: inline-block;
	padding: 8px;
	border-radius: 5px;
	transition: 0.3s;
}
.carousel-caption h3:hover{
	text-shadow: 4px 3px black;
	transition: 0.3s;
}
.categorycontent{
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	margin-top: 15px;
}
.post-area{
	background-color: white;
	padding: 10px 10px 30px;
	margin-bottom: 30px;
}
.pft-blog-category.post-meta-data span{
	margin-left: 7px;
}
.pft-blog-category.post-meta-data a{
	margin-left: 6px;
	color: #333;
}
.pft-blog-category.post-meta-data i{
	margin-left: 5px;
	color: #333;
}
.pft-blog-category.post-meta-data .fa-calendar{
	margin-left: 5px;
}
.single-page-break, .page-break-links{
	font-size: 1.2em;
}
.navbar-header .custom-logo-link img.custom-logo{
	max-width: 150px;
	max-height: 100px;
}
/*==================== Theme Menu ====================*/
/*=== navbar Header colors ===*/
.navbar-default{
	background-color: transparent;
}
.navbar-header .navbar-brand {
	color: white;
}
.navbar-header a.navbar-brand:hover span {
	text-shadow: 2px 2px #888;
	transition: 0.2s;
}
.navbar-header a.navbar-brand span {
	transition: 0.3s;
}
/*=== navbar hover colors ===*/
.navbar-wp .navbar-nav > li > a {
	color: white;
}
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus, .navbar-wp .navbar-nav > .active > a, .navbar-wp .navbar-nav > .active > a:hover, .navbar-wp .navbar-nav > .active > a:focus {
	color: black;
	background-color: #767676;
}
.navbar-wp .navbar-nav > .open > a, .navbar-wp .navbar-nav > .open > a:hover, .navbar-wp .navbar-nav > .open > a:focus {
	color: white;
	border-color: #fff;
	background-color: #767676;
	transition: 0.3s;
}
/*=== navbar dropdown colors ===*/ 
.navbar-wp .dropdown-menu {
	background: #D4D4D4;
}
.navbar-wp .dropdown-menu > li > a {
	color: black;
	background-color: #454444;
}
.navbar-wp .dropdown-menu > .active > a, .navbar-wp .dropdown-menu > .active > a:hover, .navbar-wp .dropdown-menu > .active > a:focus {
	background: black;
	color: white;
}
.navbar-wp .dropdown-menu > li > a:hover {
	background: #aaa;
	transition: 0.3s;
}
.navbar-wp .navbar-nav > .disabled > a {
	color: #ccc;
}
.navbar-wp .navbar-nav > .disabled > a:hover {
	color: #ccc;
}
.navbar-wp .navbar-nav > .disabled > a:focus {
	color: #ccc;
}
.navbar-wp .navbar-toggle:hover, .navbar-wp .navbar-toggle:focus {
	background: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	color: #fff;
}
.pft-search-box .pft-search .btn {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}

/*=== navbar drop down hover color ===*/
.navbar-base .navbar-nav > .open > a, .navbar-base .navbar-nav > .open > a:hover, .navbar-base .navbar-nav > .open > a:focus {
	color: #fff;
}
.navbar-base .navbar-nav > li > a.dropdown-form-toggle {
	color: #fff;
}
.navbar-wp .navbar-nav > li > ul::before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #3f51b5;
}
/*=== navbar text color ===*/ 
.navbar-default .navbar-toggle {
	background: rgba(0,0,0,0);
	color: #fff;
	border-color: rgba(0,0,0,0);
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #212121;
}

.navbar-wp .navbar-nav > li > a.dropdown-form-toggle {
	color: #fff;
}
/*==================== slider ====================*/
.btn.btn-tislider {
	background: #fff;
	border-color: #fff;
	color: #3f51b5;
}
.btn.btn-tislider:hover, .btn.btn-tislider:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.btn.btn-tislider-two {
	background: #349BD6;
	color: #fff;
	border-color: #349BD6;
}
.btn.btn-tislider-two:hover, .btn.btn-tislider-two:focus {
	background: #161c28;
	border-color: #161c28;
	color: #fff;
}
.btn{background: #349BD6;}
.btn:hover, .btn-theme:focus {
    background: #1a2128;
    color: #fff;
}
/*==================== blog ====================*/
.pft-blog-date {
	background: #349BD6;
	color: #fff;
}
.pft-blog-date span {
	color: #fff;
}
.pft-blog-post-box h2 a {
	color: #1c1f24;
	font-size: 24px;
}
.pft-blog-category a:hover, .pft-blog-category a:focus {
	color: #3f51b5;
}
.pft-comments .reply a:hover {
	color: #3f51b5;
}
.btn-blog {
	border-color: #e1e1e1;
	color: #999;
}
.btn-blog:hover {
	background: #3f51b5;
	color: #fff;
}
.btn-blog:hover {
	border-color: #3f51b5;
}
.pft-comments .pft-reply {
	border-color: #f0f0f0;
}
.comments-area footer a:hover {
	color: #212121;
}
.pft-blog-category a {
	color: #800080;
}
.pft-blog-category i {
	color: #888;
}
.pft-blog-post-box .small > p {
	color: black;
	font-size: 12px;
}
.pft-blog-post-box input[type="checkbox"], .pft-blog-post-box input[type="radio"] {
    display: inline;
}
.pft-blog-post-box table, .pft-blog-post-box th, .pft-blog-post-box td {
    border: 1px solid #d1d1d1;
}
.pft-blog-post-box table{
	 border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    width: 100%;
}
.pft-blog-post-box th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}
.pft-blog-post-box th, .pft-blog-post-box td {
    padding: 0.4375em;
}
.pft-blog-post-box td {
    border-width: 0 1px 1px 0;
}
.pft-blog-author {
	background: #e8e8e8;
}
.pft-info-author-block {
	color: #999;
}
.pft-info-author-block a {
	color: #349BD6;
	font-weight: 600;
}
.pft-info-author-block h4 {
	color: #333;
}
.pft-info-author-block h4 span {
	color: #999999;
}
.pft-info-author-block .pft-info-author-social li a {
	color: #dbdbdb;
}
.pft-info-author-block .pft-info-author-social li a:hover {
	color: #777;
}
.comment_section .comment-reply-link {
	background: #f6f6f6;
	color: #212121;
	border-color: #f6f6f6;
}
.pft-comments a {
	color: #777;
}
.pft-comments h4 {
	color: #888;
}
.pft-comments h4 span {
	color: #999;
}
.pft-comments .comment .media-body > p:last-child {
	border-color: #eee;
}
.pft-comments li .media-body > .small {
	color: #999;
}
.pft-comments li .media-body > p {
	border-color: #f0f0f0;
	color: #999;
}
.pft-comments .comment-list li {
	background: #fff;
	border-color: #eee;
}
.pft-heading-bor-bt h5::before {
	border-color: #3f51b5;
}
.pft-heading-bor-bt h5::before {
	border-bottom-color: #3f51b5;
}
/*==================== Body & Global ====================*/
.wrapper {
	background:transparent;
}
body {
	background: #2E2E2E;
	overflow-x: hidden;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #212121;
}
a {
	color: #3f51b5;
}
blockquote {
	border-color: #3f51b5;
}
.form-control {
	border-color: #ebebeb;
	color: #ccc;
}
.form-control:hover, .form-control:focus, .form-control:active {
	border-color: #3f51b5;
}
.form-control::-moz-placeholder, .form-control:-ms-input-placeholder, .form-control::-webkit-input-placeholder {
	color: #ccc;
}
textarea {
	border-color: #ebebeb;
}
textarea:hover, textarea:focus {
	border-color: #4A4A4A;
}
input:not([type]) {
	border-color: #ebebeb;
	color: #333333;
}
input:not([type]):hover, input:not([type]):focus {
	border-color: #3f51b5;
}
input[type="text"] {
	border-color: #ebebeb;
	color: #333333;
}
input[type="text"]:hover, input[type="text"]:focus {
	border-color: transparent;
}
input[type="email"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="email"]:hover, input[type="email"]:focus {
	border-color: #349BD6;
}
input[type="number"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="number"]:hover, input[type="number"]:focus {
	border-color: #349BD6;
}
input[type="password"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="password"]:hover, input[type="password"]:focus {
	border-color: #349BD6;
}
input[type="tel"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="tel"]:hover, input[type="tel"]:focus {
	border-color: #349BD6;
}
input[type="url"] {
	border-color: #ebebeb;
	color: #ccc;
}
input[type="url"]:hover, input[type="url"]:focus {
	border-color: #349BD6;
}
input[type="reset"], input[type="submit"] {
	background: #349BD6;
	border-color: #349BD6;
	color: #fff;
}
input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus { 
	background: #1a2128;
	border-color: #1a2128;
	color: #fff;
}
select {
	background-color: #fff;
	border-color: #ebebeb;
	color: #444;
}
select:hover, select:focus {
	border-color: #3f51b5;
}
blockquote::before {
	color: #d0d0d0;
}
button {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
button:hover, button:focus {
	background: #1a2128;
	border-color: #1a2128;
	color: #fff;
}
.btn {
	color: #fff;
}
.btn-theme {
	background: #3f51b5;
}
.btn-theme:hover, .btn-theme:focus {
	background: #1a2128;
	color: #fff;
}
.btn-theme-two {
	background: #fff;
	border-color: #fff;
	color: #3f51b5;
}
.btn-theme-two:hover, .btn-theme-two:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.pagination > li > a {
	color: #333;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.pagination > .active > span:hover, .pagination > .active > span:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.pagination > li > a:hover, .pagination > li > a:focus {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.grey-bg {
	background: #f9f9f9;
}
.pft-error-404 h1 {
	color: #3f51b5;
}
.pft-search .btn-submit {
	color: #fff;
}
/*==================== sidebar & widgets ====================*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color: white;
}
.pft-sidebar {
	border-color: #eee;
} 
.pft-sidebar .pft-widget h6, .pft-sidebar .pft-widget h2 {
	color: #1c1f24;
	display: inline-block;
}
.pft-sidebar a {
    color: #666;
}
.pft-sidebar a:hover, .pft-sidebar a:focus {
	color: #3f51b5;
}
.pft-sidebar .widget_search .btn {
	color: #fff;
}
.pft-sidebar .widget_search .btn:hover, .pft-sidebar .widget_search .btn:focus {
	background: #161c28;
}
.pft-sidebar .pft-category-widget ul li {
	border-color: #f0f0f0;
}
.pft-sidebar .pft-widget ul li {
	border-color: #f0f0f0;
}

.pft-sidebar .pft-widget .textwidget {
	color: #969ea7;
}
.pft-sidebar .pft-widget-tags a, .pft-sidebar .pft-widget .tagcloud a {
	background: #f0f0f0;
	border-color: #f0f0f0;
	color: #999;
}
.pft-sidebar .pft-widget-tags a:hover, .pft-sidebar .pft-widget .tagcloud a:hover {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
.pft-sidebar .calendar_wrap tbody #today {
	background: #349BD6;
	color: #fff;
}
.pft-sidebar .calendar_wrap table tbody #today:hover {
	background: #f1f1f1;
	color: #333;
}
.pft-sidebar .calendar_wrap table tbody td {
	border-color: #ddd;
	color: #333;
}
.pft-sidebar .calendar_wrap table tbody td:hover {
	background: #f1f1f1;
	color: #333;
}
.pft-sidebar .calendar_wrap table tbody td a {
	color: #999;
}
.pft-sidebar .calendar_wrap table tfoot {
	background: transparent;
	border-color: #ddd;
	color: #333;
}
.pft-sidebar .calendar_wrap table thead th {
	border-color: #ddd;
	color: #777;
	font-weight: 900;
	font-size: 15px;
}
#wp-calendar caption{
	color: #777;
	font-weight: 800;
}
.pft-sidebar .calendar_wrap table caption {
	background: transparent;
	border-color: #ddd;
}
.pft-sidebar .pft-widget .pft-social li a {
	color: #3f51b5;
}
/*==================== footer & widgets ====================*/
footer .pft-footer-copyright p, footer .pft-footer-copyright a {
	color: black;
}
footer .pft-footer-copyright a:hover, footer .pft-footer-copyright a:focus {
	color: grey;
}
footer .pft-widget h6 {
	color: #fff;
}
footer a {
	color: #969ea7;
}
footer a:hover, footer a:focus {
	color: #fff;
}
footer p {
	color: white;
}
footer .pft-widget ul li {
	border-color: #969ea7;
	color: #fff;
}
footer .pft-widget ul li a:hover {
	color: #fff;
}
footer .pft-widget .list-unstyled li {
	border-color: #969ea7;
}
footer .pft-widget .list-unstyled li a {
	color: #969ea7;
}
footer .pft-widget .list-unstyled li a:hover {
	color: #fff;
}
footer .pft-widget .pft-widget-tags a, footer .pft-widget .tagcloud a {
	border-color: #969ea7;
	color: #969ea7;
}
footer .pft-widget .pft-widget-tags a:hover, footer .pft-widget .tagcloud a:hover {
	background: #3f51b5;
	border-color: #3f51b5;
	color: #fff;
}
footer .calendar_wrap caption {
	background: #eee;
	border-color: white;
}
footer .calendar_wrap tbody #today {
	background: #3f51b5;
}
footer .calendar_wrap table thead th {
	border-color: white;
}
footer .calendar_wrap a {
	color: #fff;
}
footer .pft-widget .calendar_wrap table thead th {
	color: white;
}
footer .calendar_wrap table tbody #today {
	color: #fff;
}
footer .calendar_wrap table tbody #today:hover {
	background: #f1f1f1;
	color: #333;
}
footer .calendar_wrap table tbody td {
	color: #fff;
}
footer .calendar_wrap table tbody td:hover {
	background: #f1f1f1;
	border-color: #ddd;
	color: #333;
}
footer .pft-widget .calendar_wrap table tfoot, footer .pft-widget .calendar_wrap table tfoot a {
	color: #333;
}
footer .calendar_wrap table tfoot {
	background: #f5f5f5;
	border-color: #ddd;
}
footer .pft-calendar a:hover {
	color: #969ea7;
}
footer .pft-calendar thead th {
	color: #969ea7;
}
footer .pft-calendar a {
	color: #fff;
}
footer .pft-calendar tbody td {
	color: #fff;
}
footer .pft-calendar tbody #today {
	color: #fff;
}
footer .pft-calendar tbody #today:hover {
	color: #333;
}
footer .pft-calendar tbody td:hover {
	color: #333;
}
footer .pft-calendar tfoot {
	color: #333;
}
footer .pft-calendar tfoot a {
	color: #333;
}
footer .pft-widget .textwidget {
	color: #969ea7;
}
footer .pft-blog-post span {
	color: #969ea7;
}
footer .pft-widget .form-control {
	background: rgba(0,0,0,0);
	border-color: #969ea7;
}
footer .pft-widget .pft-widget-quote .form-control {
	background: #1a2128;
	color: #969ea7;
}
footer .pft-widget-tollfree li a {
	color: #969ea7;
}
footer .pft-widget-tollfree li i {
	color: #969ea7;
}
footer .pft-widget-payment a {
	color: #969ea7;
}
footer .wpcf7-form p {
	color: #969ea7;
}
footer .pft-widget .wpcf7-form .wpcf7-form-control {
	background: #1a2128;
	color: #969ea7;
}
footer .pft-widget .wpcf7-form .wpcf7-form-control.wpcf7-submit {
	color: #fff;
}
footer .pft-widget .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
	background: #1a2128;
}
footer .pft-widget.widget_search .btn {
	border-color: black;
	background-color: black;
}
footer .pft-widget.widget_search .btn:hover, footer .pft-widget.widget_search .btn:focus {
	background: #161c28;
	border-color: #161c28;
	color: #fff;
}
footer .widget_rss {
	color: #fff;
}
footer .pft-widget .pft-search-widget .btn:hover, footer .pft-widget .pft-search-widget .btn:focus {
	color: #fff;
}
footer .pft-footer-widget-area {
	border-top-color: rgba(225,225,225,0.2);
}
.pft-social li span.icon-soci {
	background: #D4D4D4;
	color: white;
}
.pft-social li span.icon-soci:hover, footer .pft-social li span.icon-soci:focus {
	background: white;
	border: 0px;
}
.pft-social li span.icon-soci:hover a, footer .pft-social li span.icon-soci:focus a {
	color: #fff;
}
.ti_scroll {
	background: grey;
	border-color: grey;
}
.ti_scroll i {
	color: #fff;
}
/*==================== WP Styles ====================*/
.gallery-caption {
	color: #686868;
}
.wp-caption .wp-caption-text {
	color: #686868;
}
.wpcf7-form .wpcf7-form-control {
	border-color: #ebebeb;
}
.wpcf7-form .wpcf7-form-control:hover, .wpcf7-form .wpcf7-form-control:focus {
	border-color: #3f51b5;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit {
	border-color: #3f51b5;
	color: #fff;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
	background: #1a2128;
	border-color: #1a2128;
}
label {
	color: #4A4A4A;
}
footer .widget_search .input-group .form-control{
	background-color: white;
}
.pft-blog-post-box article > h1{
	font-size: 25px;
	color: #333;
}
.pft-blog-post-box article > h1 >a{
	color: black;
	transition: 0.3s;
	letter-spacing: 0.1px;
}
.pft-blog-post-box article > h1 >a:hover{
	color: #7E7E7E;
	transition: 0.3s;
}
.single .pft-blog-post-box article > h1 >a:hover{
	color: black;
}
h1.archive_title{
	margin-top: 0px;
	color: #1479fb;
}
/*Image Alignment*/
.alignright{
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.alignleft{
    display: inline;
    float: left;
    margin-right: 1.5em;
}
img.alignright{
    float: right;
    margin-left: 1.5em;
}
img.alignleft{
    float: left;
    margin-right: 1.5em;
}
figure.alignleft{
    float: left;
    margin-right: 1.5em !important;
}
figure.alignright{
    float: right;
    margin-left: 1.5em !important;
}
figure.aligncenter img[class*="wp-image-"]{
    display: inline-block;
}
.clearfix{
    background-color: transparent;
}